<!DOCTYPE html>
<html lang="en">

    <!-- PARTIAL DEL HEAD-->

<%- include("../partials/head.ejs")%>

<body>

       <!-- PARTIAL DEL HEADER-->
<%-include ("../partials/header.ejs") %>
   

    <br>
<div class="contenedor-general">
    <main>
        <section class= "hero">
            <div class= "hero-container">
                <ul> 
                    <li><img src="../images/hero/todo-en-un-solo-lugar.png" alt=""></li>
                    <li><img src="../images/hero/6.png" alt=""></li>
                    <li><img src="../images/hero/5.png" alt=""></li>
                    <li><img src="../images/hero/7.png" alt=""></li>
                </ul>
            </div>
            
        </section>
        <br>
        <section class= "opciones-catalogo">
            <section class= "opcion" id= "opcion1">
                <p class="titulo-opcion"><a href="/productos" >PLANTAS INTERIOR</a></p>
            </section>
            <section class= "opcion" id= "opcion2">
                <p class="titulo-opcion"><a href= "/productos">PLANTAS EXTERIOR</a></p>
            </section>
            <section class= "opcion" id= "opcion3">
                <p class="titulo-opcion"><a href= "/productos">DECO</a></p>
            </section>
            <section class= "opcion" id= "opcion4">
                <p class="titulo-opcion"><a href= "/productos">MACETAS</a></p>
            </section>
            <section class= "opcion" id= "opcion5">
                <p class="titulo-opcion"><a href= "/productos">ACCESORIOS</a></p>
            </section>
            <section class= "opcion" id= "opcion6">
                <p class="titulo-opcion"><a href= "/productos">FERTILIZANTES</a></p>
            </section>
        </section>
        <p class="titulo-pd">PRODUCTOS DESTACADOS</p>
        <section class= "section-productos-destacados">
            <section class= "producto-destacado"><a href= "">PRODUCTO</a></section>
            <section class= "producto-destacado"><a href= "">PRODUCTO</a></section>
            <section class= "producto-destacado"><a href= "">PRODUCTO</a></section>
            <section class= "producto-destacado"><a href= "">PRODUCTO</a></section>
            <section class= "producto-destacado"><a href= "">PRODUCTO</a></section>
            <section class= "producto-destacado"><a href= "">PRODUCTO</a></section>
        </section>
    </main>

         <!-- PARTIAL DEL FOOTER-->
    <%-include ("../partials/footer.ejs") %>
</div>
    </body>
</html>