<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->

    <%- include("../partials/head.ejs")%>

<body>

    
       <!-- PARTIAL DEL HEADER-->
<%-include ("../partials/header.ejs") %>


         <!-- PARTIAL DEL FOOTER-->
<%-include ("../partials/footer.ejs") %>
    
</body>
</html>