<!DOCTYPE html>
<html lang="en">

    <!-- PARTIAL DEL HEAD-->

    <%- include("../partials/head.ejs")%>

<body>
  
           <!-- PARTIAL DEL HEADER-->
<%-include ("../partials/header.ejs") %>

 <main class ="main-quienes-somos">
    <h1>Te contamos sobre nosotros....</h1>
    <p>Somos una tienda de plantas orientada a cada una de tus necesidades, brindamos asesoramiento personalizado en la compra a grande, mediana y pequeña escala.

        Si sos paisajista​, diseñadores vas a poder acercarte a nuestro Showroom , donde encontraras la mejor variedad de plantas para todos tus proyectos.
        
        Para quienes se animen a crear espacios únicos en su hogar o buscan un regalo bien natural, en nuestra Tienda van a poder encontrar la mejor variedad de plantas y los elementos necesarias para cuidarlas, además de asesoramiento con nuestros especialistas. 
        
         
        
        En Calathea amamos las plantas y somos expertos en decoración. Consultá por nuestro servicio de Jardines y Urbano y el especial para Business <br><br>
        
         
        
        ¡VENÍ A VISITARNOS!</p>

       <ul class="lista-direcciones-qs">
           <li>TIENDA : Cuenca 2356, Villa del Parque, CABA. | Lunes a Sábados de 9 a 19 h.</li>
           <li> SHOWROOM: Amenábar 4587 2 "D, CABA. | Lunes, Miércoles y Viernes 10 a 14 h. - Jueves y Sábados 10 a 14 h y de 17 a 20 h.</li>
       </ul> 

 </main>

          <!-- PARTIAL DEL FOOTER-->
<%-include ("../partials/footer.ejs") %>




    
</body>
</html>