<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->

    <%- include("../partials/head.ejs")%>

<body>

           <!-- PARTIAL DEL HEADER-->
<%-include ("../partials/header.ejs") %>
   
<main class="main-contactos">

    <section class="section-derecha-contacto">
        <form class="formulario-contacto" action= "/productos" method="POST" enctype="multipart/form-data">

          <div class="div-formulario-contacto">
              <label for="name"><strong>NOMBRE</strong></label>
              <input type="text" name="name" id="name" placeholder ="NOMBRE DEL PRODUCTO" class="formulario-input-contacto">
          </div>
          <div class="div-formulario-contacto">
              <label for="description"><strong>DESCRIPCION</strong></label>
              <input type="text" name="description" id="description" placeholder ="DESCRIPCION" class="formulario-input-contacto">
          </div>
          <div class="div-formulario-contacto">
              <label for="image"><strong>IMAGEN DEL PRODUCTO</strong></label>
              <input type= "file" name="image" id="image" placeholder ="IMAGEN DEL PRODUCTO" class="formulario-input-contacto">
          </div>
        
          <div class="div-formulario-contacto">
            <label for="category"><strong>CATEGORIAS</strong></label>
                <select class="formulario-input-contacto" name="category" id="category">
                    <option value="interior">PLANTA INTERIOR</option>
                    <option value="exterior">PLANTA EXTERIOR</option>
                    <option value="macetas">MACETAS</option>
                    <option value="accesorios">ACCESORIOS</option>
                    <option value="fertilizantes">FERTILIZANTES</option>
                    <option value="deco">DECO</option>
                </select>
          </div>

          <div class="div-formulario-contacto">
            <label for="price"><strong>PRECIO</strong></label>
            <input type="number" name="price" id="price" placeholder ="$ 1" class="formulario-input-contacto">
        </div>

        <div class="div-formulario-contacto">
            <label for="promo"><strong>PROMOCIÓN</strong></label>
                <select class="formulario-input-contacto" name="promo" id="promo">
                    <option value="false">SIN PROMOCIÓN</option>
                    <option value="2">10 % OFF</option>
                    <option value="3">20 % OFF</option>
                    <option value="4">2x1</option>
                </select>
          </div>


          <div class="div-formulario-contacto">
            <label for="stock"><strong>STOCK</strong></label>
            <input type="number" name="stock" id="stock" placeholder ="5" class="formulario-input-contacto">
        </div>
          <button type="submit" class="formulario-boton-fr">Crear producto</button>

  </section>
</main>  
</body>
</html>