<header>
    <div class="header-top">
         <div class="search-box-desktop">
             <form action="" method="POST">                        
                     <input type="text" name="search" placeholder="Buscar">
                     <i class="fas fa-search"></i> 
                 </form>
             
         </div>
        
         <div class="menu-icon">
             <i class="fas fa-bars"></i>
         </div>
         
         <div class="logo">
             <img width=200px heigth=200px src="/images/logo-cursiva.png" alt="Calathea-logo">
         </div>
         
         <div class="header-right">
             <ul>
                 <li><a href="/usuario/login"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                 <li><a href="/usuario/register"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                 <li><a href="/usuario/Cart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
             </ul>
         </div>
     
     </div>
 
     <div class="header-bottom">
         <div class="search-box">
             <form action="" method="POST">                        
                     <input type="text" name="search" placeholder="Buscar">
                     <i class="fas fa-search"></i> 
                </form>
             
         </div>
     
         <div class="nav-bar">
             <nav class="nav-bar">
                     <ul class="nav">
                         <li><a href="/">Inicio</a></li>
                         <li><a href="/productos">Productos</a></li>
                         <li><a href="/quienes-somos">Quiénes Somos</a></li>
                         <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                         <li><a href="/contacto">Contacto</a></li>
                     </ul>
             </nav>
         </div>
     </div>      
</header>