<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calathea</title>
    <link href="css/styles.css" rel= "stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72a545861a.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <div class="header-top">
            <div class="search-box">
                <span class= "icon"><i class="fas fa-search"></i></span>
                <input class= "search" type="text" name="search" id= "search" placeholder="Buscar">
            </div>
            
            <div class="logo"><img width= 300px heigth= 300px src="images/logonuevo.png" alt="logo"></div>
            
            <div class="header-right">
            
              <ul>
                  <li class="header-right"><a href="#"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                  <li class="header-right"><a href="#"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                  <li class="header-right"><a href="#"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
              </ul>
          </div>
        </div>

        <div class="header-bottom">
            <div>
                <nav class="nav-bar">
                    <ul>
                        <li class="nav"><a href="">Inicio</a></li>
                        <li class="nav"><a href="">Productos</a></li>
                        <li class="nav"><a href="">Quiénes Somos</a></li>
                        <li class="nav"><a href="">Preguntas Frecuentes</a></li>
                        <li class="nav"><a href="">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>

    <main class= "main-home">
        <section class= "hero">
            <img width= 1200 height= 600 src= "images/slide1.jpg">
            <a href= ""><i class="fas fa-angle-left"></i></a>
            <a href= ""><i class="fas fa-angle-right"></i></a>
        </section>
        <br>
        <section class= "section-plantas">
            <h2 class= "titulo-plantas">PLANTAS</h2>
            <a href= ""><img width= "500px" height= "300px" src= "images/PLANTASPARAVENDER.JPG"></a>
        </section>
        <section class= "section-macetas">
            <h2 class= "titulo-macetas">MACETAS</h2>
            <a href= ""><img width= "400px" height= "100px" src= "images/macetas.jpeg"></a>
        </section>
    </main>
    <footer>
        <div class="footer">

            <ul class ="nav-footer">
                <li><strong>Navegación</strong></li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Quiénes Somos</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
            <ul class= "cont-footer">
                <li><strong>Contactanos</strong></li>
                <li><i class="fas fa-phone"></i> +54 11 *******</li>
                <li><i class="fab fa-whatsapp"></i> +54 11 *****</li>
                <li><i class="fas fa-at"></i> contacto@calathea.com.ar</li>
                <li><i class="fas fa-map-marker-alt"></i> Showroom: Amenábar 4587 2 "D". Sucursal Palermo: Ravignani 5498, Capital Federal</li>
            </ul>
            <ul class="footer-mdp1">
                <li><strong>Medios de pago</strong></li>
            </ul>
            <ul class="footer-mdp">
                <li><img width= 50px heigth= 50px src= "images/visa.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/mastecard.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/american.jpg"></li>
            </ul>
            <ul class="footer-mdp">
                <li><img width= 50px heigth= 50px src= "images/pagofacil.png"></li>
                <li><img width= 50px heigth= 50px src= "images/rapipago.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/mercadopago.jpeg"></li>
            </ul>
            <ul id="footer-rd">
                <li><strong>REDES SOCIALES</strong></li>
                <li><i class="fab fa-instagram"> @calathea</i></li>
                <li><i class="fab fa-facebook"></i> Somos calathea</li>
                <li></li>
                <li><form action="" method="POST">
                    <label for="newsletter" id="newsletter"><strong>NEWSLETTER</strong>
                    <br>
                    <input type="email" name="newsletter"> 
                </form> </li>
            </ul>
        </div>
    </footer>

    </body>
</html>