<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Calathea</title>

    <link href="css/styles2.css" rel= "stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72a545861a.js" crossorigin="anonymous"></script>

</head>

<body>

    <header>

        <div class="header-top">
            <div class="search-box">
                <i class="fas fa-search"></i>
                <form action="" method="POST">                        
                        <input type="text" name="search" placeholder="Buscar">
                </form> 
            </div>
            
            <div class="logo">
                <img width=300px heigth=300px src="images/logo2.png" alt="Calathea-logo">
            </div>
            
            <div class="header-right">
                <ul>
                    <li><a href="#"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                    <li><a href="#"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                </ul>
            </div>
        </div>

        <div class="header-bottom">
            <nav class="nav-bar">
                    <ul class="nav">
                        <li><a href="">Inicio</a></li>
                        <li><a href="">Productos</a></li>
                        <li><a href="">Quiénes Somos</a></li>
                        <li><a href="">Preguntas Frecuentes</a></li>
                        <li><a href="">Contacto</a></li>
                    </ul>
            </nav>
        </div>
        

    </header>
    <br>
    <main>
        <section class= "hero">
            <img width= 300 height= 300 src= "images/slide1.jpg">
            <a href= ""><i class="fas fa-angle-left"></i></a>
            <a href= ""><i class="fas fa-angle-right"></i></a>
        </section>
        <br>
        <section class= "section-plantas">
            <h2 class= "titulo-plantas">PLANTAS</h2>
            <a href= ""><img width= "320px" height= "300px" src= "images/PLANTASPARAVENDER.JPG"></a>
        </section>
        <section class= "section-macetas">
            <h2 class= "titulo-macetas">MACETAS</h2>
            <a href= ""><img width= "300px" height= "100px" src= "images/macetas.jpeg"></a>
        </section>
    </main>

    <footer>
        <div class="footer-top">
            <div class= footer-top-main>
                <div class= "cont-footer">
                    <span class="titulo-footer">CONTACTANOS</span>
                    <ul>
                        <li><i class="fas fa-phone"></i> +54 11 *******</li>
                        <li><i class="fab fa-whatsapp"></i> +54 11 *****</li>
                        <li><i class="fas fa-at"></i> contacto@calathea.com.ar</li>
                        <li><i class="fas fa-map-marker-alt"></i> Showroom: Amenábar 4587 2 "D". <br>Sucursal Palermo: Ravignani 5498, Capital Federal</li>
                    </ul>
                </div>
                
                <div class="cont-footer">
                    <span class="titulo-footer">MEDIOS DE PAGO</span>
                    <ul class="medios-de-pago">
                        <li><img width= 50px heigth= 50px src= "images/visa.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/mastecard.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/american.jpg"></li>
                        <!--
                        <li><img width= 50px heigth= 50px src= "images/pagofacil.png"></li>
                        <li><img width= 50px heigth= 50px src= "images/rapipago.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/mercadopago.jpeg"></li>-->
                    </ul>
                </div>
                <div class="cont-footer">
                    <span class="titulo-footer">REDES SOCIALES</span>
                    <ul id="footer-rd">
                        <li><i class="fab fa-instagram"> <a href="http://instagram.com" target="_blank"> Calathea</a></i></li>
                        <li><i class="fab fa-facebook"><a href="http://facebook.com" target="_blank"></i> Somos Calathea </a></li>
                    </ul>
                </div>
    
                <div class="cont-footer">
                    <form action="" method="POST">
                        <div class="titulo-footer">NEWSLETTER</div>
                        <label for="newsletter" id="newsletter">
                        <input class= "newsletter" type="email" name="newsletter" placeholder="   Recibí novedades!"> 
                    </form> 
                </div>

            </div>
        </div>
    
        <div class="footer-bottom">
                <a href="">Inicio</a>  
                <a href="">Productos</a>  
                <a href="">Quiénes Somos</a>  
                <a href="">Preguntas Frecuentes</a> 
                <a href="">Contacto</a>
            </ul>
        </div>

    </footer>

    </body>
</html>