/*general*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    }

.contenedor-general{
    width: 95%;
    margin: auto;
}


.fr-error {
    color: red;
    font-weight: 800;
    margin: 5px
}
/*header*/


.header-top {
    display: flex;
    margin: 0.2rem;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}


.fa-search{
    padding: 10px;
    color:#754668;
}


.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    z-index: 1;
}

.icon-miniNav {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: white;
    border: solid 1.3px #49183c;
    border-radius: 0.5rem;
    width: 3rem;
    height: 2.5rem;
    align-items: center;
    margin: auto;
    background-color: #754668;
    cursor: pointer;
}
.icon-miniNav:hover {
    color: white;
    transition: 0.4s;
    border: solid 1.3px #754668;
    width: 3.1rem;
    height: 2.6rem;
    background-color: #a1608f;
    cursor: pointer;
}

.errorName,
.errorLastName,
.errorEmail,
.errorPhone,
.errorPw,
.errorConfirmPw {
    color: red;
    font-weight: bolder;

}

.errorMensaje {
    display: none;
    color: red;
    font-weight: bolder;
}


.mini-nav{
    transition: 0.10s;
    display: none;
    height: 100%; 
    width: 43%; 
    z-index: 1;
    background-color: #754668;
    color: white;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    padding-top: 60px;
    font-size: 1.1em;
    
}
.mini-nav ul li{
    display: block;
}
.mini-nav a{
    color: white;
}

.mini-nav a:hover{
    color: #e7badb;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.15em;
}

.showNav {
    display: block;
}

.header-right li, 
.header-right a{
    display: flex;
    align-items: center;
    margin: .25rem 0px;
    color: #754668;
    text-decoration: none;
    font-weight: bold;
    font-size: .75rem;
}

.header-right i{
    margin-right: .75rem;
}

.buscador input{
border-radius: .75rem;
padding:5px;

}

/* IMAGEN AVATAR HEADER */

.header-right .imagen-avatar{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

/* ESTILOS PARA PÁGINA DE SIN PERMISO */

.sinPermiso {
    display: flex;
    flex-direction: column;
}
.sinPermiso-titulo {
    display: flex;
    justify-content: center;
    margin: 2rem;
    color:#49183c;
}
.sinPermiso-imagen {
    justify-content: center;
    align-content: center;
    border: solid 0.5REM #49183c;
    width: 60%;

}
.contenedor-sinPermiso {
    display: flex;
    justify-content: center;

}

.botonPermiso{
    margin: 1rem;
    display: block;
    width: 70% !important;
    background-color:#5c3251;
    color: white;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.contenedor-Boton a{
    display: flex;
    justify-content: center;
    margin: 1rem;
}





/* ESTILOS PAGINA MI PERFIL */

.section-izquierdo-contacto{
   justify-content: right;
    
}

.perfil-img{
    width: 100px;
    height: 100px;
    border-radius: 30px;
}



.header-bottom .nav-bar{
    background-color: #754668cb;
    font-weight: bold;
    width: 100%;
    display: none;
}




.nav-bar{
    padding: .25rem;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-bar ul li{
    text-decoration: none;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.nav-bar a:hover{
    color:#e7badb;
    background-color: #75466893;
}

.nav-bar a.active{
    color:#e7badb;
    display: none;

}

/*Estilos página administración*/

.saludoAdmin {
    color:rgb(118, 71, 105);
    margin: 1rem;
}
.botonListado{
    margin: 1rem;
    display: block;
    width: 50%;
    background-color:#537467;
    color: white;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;

}

/*main*/

main {
    background-color: #fff;
}


.hero-container{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.hero-container ul{
    padding: 0px;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

.hero-container li {
    list-style: none;
    width: 100%;
}

.hero-container img{
    width: 100%;
}

.opciones-catalogo a{
    text-decoration: none;
    color: white
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.opciones-catalogo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1em;
}

.opcion {
    margin: 0.75rem;
    width: 18rem;
    height: 18rem;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14rem 14rem;
}

#opcion1 {
    background-image: url(/images/principal/back-planta-interior.jpg);
    background-size: cover;
    transition: transform .5s;
}

#opcion1:hover{
    transform: scale(1.1);
}

#opcion2 {
    background-image: url(/images/principal/back-planta-exterior.jpg);
    background-size: cover;
    transition: transform .5s;
}

#opcion2:hover{
    transform: scale(1.1);
}

#opcion3 {
    background-image: url(/images/principal/back-deco.jpg);
    background-size: cover;
    transition: transform .5s;
}

#opcion3:hover{
    transform: scale(1.1);
}
#opcion4 {
    background-image: url(/images/principal/back-macetas.jpg);
    background-size: cover;
    transition: transform .5s;
}

#opcion4:hover{
    transform: scale(1.1);
}
#opcion5 {
    background-image: url(/images/principal/back-accesorios.jpg);
    background-size: cover;
    transition: transform .5s;
    
}

#opcion5:hover{
    transform: scale(1.1);
}
#opcion6 {
    background-image: url(/images/principal/back-fertilizantes.jpg);
    background-size: cover;
    transition: transform .5s;
}

#opcion6:hover{
    transform: scale(1.1);
}


.titulo-opcion {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: #754668;
}



.titulo-opcion a {
    color: white;
    text-decoration: none;
    
}

.titulo-pd {
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    background-color: #754668;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}
.section-productos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.producto-destacado {
    /*background-image: url(/images/recomendados/anthorium-en-maceta.png); */
    background-size: cover;
    border: #754668 solid 1px;
    border-radius: 10px;
    margin: 1rem 1rem;
    height: 8rem;
    width: 8rem;
}

/* INICIO DE LOS ESTILOS SE LA PAGINA DEL LOGIN*/

.container-loguin{
    width: 90%;
    margin: 0px auto;
}



.formulario-login{
    width: 90%;
    margin : 10px auto;
    font-size: 1.2rem;
}

/* MENU HORIZONTAL*/

.menu-horizontal {
    text-align: left;
    font-size: 16px;
    color: black;
    margin: 10px 5px
}
/*  LE SAQUE EL ESTILO A LAS ETIQUETAS A Y AGREGO OTROS ESTILOS*/

.menu-horizontal a{
    text-decoration: none;
    color:rgb(2, 59, 2)
}

a{
    text-decoration: none;
}

/* PARRAFOS CENTRADOS*/

form p {
    text-align: center;
}

/* FORMULRIO LOGIN DIV GENERAL*/

.formulario-login-div {
    padding: 7px;
}

/* FORMULRIO LOGIN DIV LABEL GENERAL*/

.formulario-login-div label {
    display: block;
    margin-bottom: 10px;
}

/* FORMULARIO LOGIN BARRA INPUT*/

.formulario-login-input{
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px rgb(211, 206, 206);
    outline: none;
}

/*BOTON LOGIN*/

.boton-login{
    width: 100%;
    font-size: 1.2rem;
    background-color: rgb(56, 129, 56);
    color: white;
    border: none;
    border-radius: 7px ;
    padding: 5px 10px;
    margin: 10px 0px;
    cursor: pointer;
    outline: none;
}

/* FORMULARIO PSEUDOS ELEMENTOS*/

.formulario-login-input:active{
    border: solid 1px green;
}
.formulario-login-input:hover{
    background-color: rgb(0, 0, 0,0.2 );
}


.menu-horizontal a:hover{
  color: pink

}

/* FIN DE LOS ESTILOS DE LA PAGINA DE LOGIN*/



/*INICIO DE LOS ESTILOS FORMULARIO REGISTRO GENERAL*/
/*FR: FORMULARIO DE REGISTRO*/

.section-fr{
    width: 90%;
    margin : 10px auto;
    font-size: 1.2rem;
}
/* CENTRADO DE LOS PARRAFOS*/

form p { text-align: center;}

/* MENU HORIZONTAL*/

.menu-horizontal {
    text-align: left;
    font-size: 16px;
    color: black;
    margin: 10px 5px
}

/*  LE SAQUE EL ESTILO A LAS ETIQUETAS A Y AGREGO OTROS ESTILOS*/

.menu-horizontal a{
    text-decoration: none;
    color:rgb(2, 59, 2)
}

a { text-decoration: none;}


/* FORMULARIO DIV*/

.fomulario-div-fr{ padding:7px }

/* FORMULARIO DIV LABEL*/

.fomulario-div-fr label{
    display: block;
    margin-bottom: 10px;
}

/* FORMULARIO BARRA INPUT*/

.formulario-input-fr{
    width: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 1px rgb(211, 206, 206);
    outline: none;

}

/* FORMULARIO BOTON DE CREAR CUENTA*/

.formulario-boton-fr{
    width: 100%;
    font-size: 1.2rem;
    background-color: #537467;
    color: white;
    border: none;
    border-radius: 7px ;
    padding: 5px 10px;
    margin: 10px 0px;
    cursor: pointer;
    outline: none;
}

/* FORMULARIO PSEUDOS ELEMENTOS*/

.formulario-input-fr:hover{background-color: rgb(0, 0, 0,0.2 );}


.menu-horizontal a:hover{ color: pink }

/* INICIO DE LOS ESTILOS DE LA PAGINA DE PRODUCTOS*/

.products{
    text-align: center;
    margin: 3rem 0px;
    justify-content: center;
}

.users{
    text-align: center;
    margin: 3rem 0px;
    justify-content: center;
}



.input-nav-productos{
 width: 100%;
 padding: 7px;
}
   

.menu-horizontal{
 display:flex;
 text-align: left;
 font-size: 1.2rem;
 color: black;
 margin: 10px 5px
}

.menu-horizontal a{
 text-decoration: none;
 color: #537467

}
.menu-horizontal a:hover{
color: pink

}

.header-filter {
    margin: 1rem;
    background-color: #537467;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.nav-bar-filter ul{
    list-style: none;
    margin: 1rem;
}

.nav-bar-filter ul li{
    margin: 0.6rem;
    display: flex;
    justify-content: center;
    border:black solid 0.2rem
}
.nav-bar-filter a{
    text-decoration: none;
    color:black;
}

.lista-conteiner-productos{
 
 display: flex;
 justify-content: flex-start;
 margin-left: 0.5rem    
}


.products-container{
   display: flex;
   justify-content: center;
   margin: 1rem 0px;

 }
 .users-container{
    display: flex;
    justify-content: center;
    margin: 1rem 0px;
 
  }

.description-product{
   width: 20rem;
   height: 23rem;
   margin: 1.5rem;
   border-radius: 7px;
   box-shadow: 5px 5px 5px rgba(102, 51, 117, 0.5) 
   
}

.description-product img{
   width: 60%;
   height: 55%;
   margin-top: 2px;
}
.name {
    margin-bottom: 3px;
}
.price{
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3px;
}
.datos-usuario{
    font-family: sans-serif;
    font-size: 1.3rem;
    margin-bottom: 3px;
    color:rgb(118, 71, 105);
    font-weight: bolder;
}

.category{
    margin-bottom: 3px;
}

   .buttom-detail,
   .buttom-cart {
       background-color: #537467;
       color: white;
       padding: 10px;
       margin-left: 5px;
       border-radius: 7px;
       border: none;
       cursor: pointer;
       
        
   }

   .buttom-detail:hover {
       color: pink,
       

   }

   .buttom-cart:hover{
    color: pink,
    
    
    }

  
/* FIN DE LOS ESTILOS DE LA PAGINA DE PRODUCTOS*/


/*PD: PRODUCTO DETALLE*/
/* CONTENEDOR GENERAL DE LA PAGINA DE DETALLE DEL PRODUCTO*/

.Contenedor-general-pd{
    display: flex;
    width: 90%;
    margin: auto;
    text-transform: uppercase
}

/* MENU HORIZONTAL DE LA PAGINA DE DE DETALLE DEL PRODUCTO*/

.menu-horizontal-pd{
    text-align: left;
    font-size: 16px;
    color: black;
    margin: 10px 5px
}

/*.DIV IZQUIERDO DE LA PAGINA  DE DETALLE DEL PRODUCTO*/

.div-imagen-izquierda-pd{
    width: 45%;
    border: none;
    margin :10px auto;
}

.div-imagen-izquierda-pd h1,
.div-imagen-izquierda-pd p{
    line-height: 30px;
}

/* IMAGEN DEL DIV IZQUIERDO  DE LA PAGINA  DE DETALLE DEL PRODUCTO*/

.div-imagen-izquierda-pd img{
    display:block;
    width: 40%;
    margin:40px auto;
}

/* DIV DERECHO DE LA PAGINA  DE DETALLE DEL PRODUCTO*/

.div-derecha-pd{
    width: 45%;
    border:none;
}


.div-derecha-pd h1,
.div-derecha-pd p{
    line-height: 30px;
}

/* PRECIO DIV DERECHO DE LA PAGINA  DE DETALLE DEL PRODUCTO*/

.precio-Pd{
    font-size: 1.7rem;
    font-weight: bold;
}
/* DIV PROVISORIO!!!!!!!!!!!!!!!!!!!!!*/

.div-derecha-pd .cubo{
    width: 20px;
    height: 20px;
    background-color: black;
}

/* CUADRADO DE CANTIDAD: DE LA PAGINA  DE DETALLE DEL PRODUCTO*/
.selec-pd{
    padding: 5px;
}

.a-pd{
    text-decoration: none;
    color:#537467;
    line-height: 1.5rem;
}

/* BOTON VERDE DE AGREGAR PRODUCTO DE LA PAGINA  DE DETALLE DEL PRODUCTO*/

.boton-agregar-pd{
    display: block;
    width: 100%;
    background-color:#537467;
    color: white;
    padding: 10px;
    margin-top: 10px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;

}

.boton-editar{
    display: block;
    background-color:#537467;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;

}

.boton-agregar-pd:hover{
    background-color: rgba(126, 123, 123, 0.493);
}

/*FIN ESTILOS PAGINA DETALLE DE PRODUCTOS*/

/* INICIO DE ESTILOS PAGINA QUIENES SOMOS*/


.main-quienes-somos{
    width: 90%;
    margin: auto;
    padding: 100px;
    text-align: center;
    line-height: 1.5rem;
}

.main-quienes-somos h1 {
    margin-bottom: 1.5rem;

}

.lista-direcciones-qs{
    margin-top: 40px;
    text-align: left;
}
/* FIN DE ESTILOS PAGINA QUIENES SOMOS*/

/* INICIO DE STILOS PAGINA PREGUNTAS FRECUENTES*/
.main_preguntas{
    display: block;
    margin: 30px;
    
}
.main_preguntas h1,
 h3,
 h4{
    text-align: center;
    margin: auto;
}

/* FIN DE ESTILOS PAGINA PREGUNTAS FRECUENTES*/

/* INICIO DE ESTILOS PAGINA CONTACTOS*/

.main-contactos{
    width: 80%;
    display:flex;
    justify-content:center;
    margin: auto;
    font-size: 1rem;
    line-height: 22px;
}

.section-izquierdo-contacto{
    width: 50%;
}
.main-contactos p{
    width: 90%;
    text-align: left;
    margin: 10px 0px
}

.div-izquierdo-contactos{
    margin-bottom: 5px;
    
}
.div-izquierdo-lista-contactos{
    list-style: none;
    padding: 0;
}
.section-derecha-contacto{
    width: 50%;
}
.formulario-contacto{
    width: 100%;
}

.formulario-input-contacto {
    width: 100%;
    margin: 7px auto;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid 1px rgb(211, 206, 206);
    outline: none;
}








/*carrito*/

.main-carrito {
    padding: 1rem;
}

.titulo-carrito {
    font-size: 1.3rem;
    color: #754668;
    margin: 0.5rem 0px
}

.cuadro-carrito {
    border: solid #5c3251 5px;
    margin: 1rem 0px;
}

#imagen-producto {
    height: 8rem;
    width: 8rem;
}

#imagen-nombre {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
    color: rgb(118, 71, 105)
}


#cantidad-carrito {
    display: flex;
    flex-direction: row;
    margin: 2rem 0.5rem;
    color: #754668
}

#cantidad-carrito span {
    margin: 0px 0.5rem;
}

#cantidad-carrito a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

#precio-carrito {
    display: flex;
    flex-direction: row;
    margin: 2rem 0.5rem;
}

#precio-carrito h3{
    color: #754668;
}

#basura {
    margin: 2rem 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #754668
}

.link-codigopostal a{
    color: black;
    font-size: 1rem;
    font-weight:bolder
}

.link-codigopostal{
    margin: 0.5rem 0px
}

#subtotal-total {
    display: flex;
    justify-content: flex-end;
}

#boton{
    height: 2rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: #754668;
    width: 8rem;
    margin: 0rem 1rem;
}

.texto-carrito {
    font-weight: 600;
}

/*footer-top*/

.footer-top{
    background-color: #754668;
    color: white;
    padding: 2rem;
}

.cont-footer{
    justify-content: center;
    text-align: center;
    margin: 1rem 0px
}

.cont-footer li{
    list-style: none;
    margin: 0.3rem 0px
}


.titulo-footer {
    font-weight: bold;
    margin: 0.3rem 0px;
    font-size: 1.2rem;
}

.cont-footer-input{
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    }

.cont-footer a{
    color: white;
}


/*footer-bottom*/

.footer-bottom {
    background-color: #5c3251;
    display: flex;
    padding: 2rem 1rem;
    font-size: 0.8rem;
    justify-content: center;
}

.footer-bottom a{
    text-decoration: none;
    margin: 0.5rem;
    color: white;
    font-weight: bold;
    align-items: center;

}


/*media*/

@media (min-width : 360px),(max-width : 767px) {
    .section-fr{
        width: 70%;
        margin : 10px auto
    }

    .contenedor-general{
        width: 100%;
    }
    
    /* INICIO DE MEDIA QUERY PRODUCTOS*/
    
    .list-options{
    max-width: 40%;
    }
    
    .container-productos {
        max-width: 100%;
        margin:auto;
    }
    
    .Contenedor-menu-lista{
        display: flex;
        flex-direction: column;
    }
    
    /* FIN MEDIA QUERY PRODUCTOS*/
    
    /*INICIO MEDIA QUERY DETALLE PRODUCTOS*/
    
    .Contenedor-general-pd{
        display: block;
        width:100%
    }
    
    .div-imagen-izquierda-pd,
    .div-derecha-pd {
        width: 100%;
    }
    
    /*FIN MEDIA QUERY DETALLE PRODUCTOS*/
    
    .main-contactos{
    display: block;
    }
}



@media (min-width: 768px){

    .products {
        display: flex;
        flex-wrap: wrap;
    }
    .users {
        display: flex;
        flex-wrap: wrap;
    }

    .contenedor-general{
        width: 90%;
        margin: auto;
    }
    .header-bottom{
        display: block;
    }

    .icon-miniNav{
        display: none;
    }

    .header-right li, .header-right a{
        font-size: 18px;
    }
    
    .header-right i{
        margin-right: .75rem;
    }

    .logo {
        position: relative;
        bottom: 2.4rem;
        margin-bottom: 0px;
    }

    .header-top {
        justify-content: space-around;
    }

    
    .header-bottom .nav-bar{
        display: block;
    }

    .nav-bar a.active{
        display: block;
    }

    .opciones-catalogo{
        justify-content: center;
        ;
    }

    /*INICIO SINPERMISO */

    .sinPermiso-imagen {
        border: solid 1rem #49183c;
        width: 30%;
    
    }    
    .botonPermiso{
        width: 30% !important;
    }
    


    /* INICIO QUERY DE FILTER DE PROCUTOS */

    .header-filter {
        font-size: 1.2rem;
        display: block;
    }
    
    .nav-bar-filter ul{
        margin: 1rem;
        display: flex;
        justify-content: space-around;
    }
    
    .nav-bar-filter ul li{
        border: none
    }



    /*INICIO DEL MEDIA QUERY DEL LOGIN*/

    .formulario-login{
        width: 70%;
        margin : 10px auto
    }

    /*FIN DEL MEDIA QUERY DEL LOGIN*/

    /* INICIO MEDIA QUERY DEL REGISTRO*/

    .section-fr{
        width: 80%;
        margin : 10px auto
    }

  /* FIN DEL MEDIA QUERY DEL REGISTRO*/

  /* INICIO MEDIA QUERY PRODUCTOS*/

  .input-nav-productos{
    display: none;
   }

      
.lista-conteiner-productos{
    display: flex;
    justify-content: flex-end;
    margin-right: 1rem ;
    margin-top: 1rem;
}

 /* FIN DEL MEDIA QUERY DE  PRODUCTOS*/

 /*INICIO MEDIA QUERY DETALLE DE PRODUCTOS*/

 .Contenedor-general-pd{
    display: flex;
    width: 90%;
    margin: auto;
}

 /*FIN MEDIA QUERY DETALLE DE PRODUCTOS*/

 /* INICIO DE MEDIA QUERY PAGINA DE CONTACTO*/

 .main-contactos{
    display: flex;
}

/*FIN DR MEDIA QUERY PAGINA DE CONTACTO*/

    .footer-top-main{
        display: flex;
        justify-content: space-around;
        font-size: 0.8rem;
    }
    
    .cont-footer{
        justify-content: space-between;
        text-align: start;
        margin: 0px 1rem;
    }
    
    .cont-footer li{
        margin: 1rem 0px;
        text-align: start
    }
    
    .titulo-footer {
        margin: 0px;
        font-size: 1rem;
        text-align: center;

    }

    .medios-de-pago li{
        display: flex;
        justify-content: center;
    }
    
    .newsletter{
        margin: 1.5rem 0px;
        width: 10rem;
        height: 2rem;
        border-radius: 1rem;
        align-items: center;
    }

    .footer-bottom {
        font-size: 1rem;
    }
    
    .footer-bottom a{
        margin: 1rem;
    }

    .opciones-catalogo {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .hero {
        height: 300px;
    }
}


@media (min-width: 1200px){

    .footer-top-main {
        max-width: 1200px;
        margin: auto;
    }

    .medios-de-pago li{
        display: flex;
        justify-content: center;
    }

    .opciones-catalogo {
        max-width: 1200px;
        margin: auto;
    }

    .hero {
        height: max-content;
    }

    .header-top {
        position: relative;
        top: 6rem
    }

}