/*general*/

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

/*main*/

main {
    background-color: #ffe8d6;
}

.opciones-catalogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 1em;
    ;
}

.opcion {
    border: solid #5c3251 5px;
    margin: 1rem;
    width: 18rem;
    height: 18rem;;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14rem 14rem;
}

#opcion1 {
    background-image: url(/images/plantainterior.jpg);
}
#opcion2 {
    background-image: url(/images/plantaexterior.jpg);
}
#opcion3 {
    background-image: url(/images/deco.jpg);
}
#opcion4 {
    background-image: url(/images/macetas.jpg);
}
#opcion5 {
    background-image: url(/images/accesorios.jpg);
}
#opcion6 {
    background-image: url(/images/fertilizantes.jpg);
}

.titulo-opcion {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: #754668;
}

.titulo-opcion a {
    color: white;
    text-decoration: none;
}

.titulo-pd {
    font-weight: bold;
    border: double 0.5rem #754668;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 3rem
}
.section-productos-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

 
}
.producto-destacado {
    border: black solid 5px;
    margin: 1rem 1rem;
    height: 8rem;
    width: 8rem;
}
/*footer-top*/

.footer-top{
    background-color: #754668;
    color: white;
    padding: 2rem;
}

.cont-footer{
    justify-content: center;
    text-align: center;
    margin: 1rem 0px
}

.cont-footer li{
    list-style: none;
    margin: 0.3rem 0px
}

a{
    color: white
}

.titulo-footer {
    font-weight: bold;
    margin: 0.3rem 0px;
    font-size: 1.2rem;
}

.newsletter{
    width: 10rem;
    height: 2rem;
    border-radius: 1rem;
    }



/*footer-bottom*/

.footer-bottom {
    background-color: #5c3251;
    color: white;
    display: flex;
    padding: 2rem 1rem;
    font-size: 0.8rem;
    justify-content: center;
}

.footer-bottom a{
    text-decoration: none;
    margin: 0.5rem;
    color: black;
    font-weight: bold;
    align-items: center;

}


/*media*/

@media (min-width: 768px){
    .footer-top-main{
        display: flex;
        justify-content: space-around;
        font-size: 0.8rem;
    }
    
    .cont-footer{
        justify-content: space-between;
        text-align: start;
        margin: 0px 1rem;
    }
    
    .cont-footer li{
        margin: 1rem 0px;
        text-align: start
    }
    
    .titulo-footer {
        margin: 0px;
        font-size: 1rem;
        text-align: center;

    }

    .medios-de-pago li{
        display: flex;
        justify-content: center;
    }
    
    .newsletter{
        margin: 1.5rem 0px;
        width: 10rem;
        height: 2rem;
        border-radius: 1rem;
        align-items: center;
    }

    .footer-bottom {
        font-size: 1rem;
    }
    
    .footer-bottom a{
        margin: 1rem;
    }

    .opciones-catalogo {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


@media (min-width: 1200px){
    .footer-top-main {
        max-width: 1200px;
        margin: auto;
    }

    .medios-de-pago li{
        display: flex;
        justify-content: center;
    }

    .opciones-catalogo {
        max-width: 1200px;
        margin: auto;
    }
}