/*general
---------*/



* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/*header
--------*/
.header-top {
    background-color: #fff;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
}

.search-box {
    display: flex;
    margin: 10px;
    width: 300px;
    position: relative;
}

.search-box input{
color: #754668; 
border: solid 1.5px;
border-radius: .5rem;
}

.fa-search{
    color:#754668;
    margin-right: .25rem;
}

.logo{
    align-self: center;

    /* acá no se cómo ahcer para que quede centrado
    por otro lado podemos pensar qué hacer con el logo,
    por ej que se achique al hacer scroll como en potit */
}

.header-right li, .header-right a{
    display: flex;
    align-items: center;
    margin: .25rem;
    color: #754668;
    text-decoration: none;
    font-weight: bold;
    font-size: .75rem;
}

.header-right i{
    margin-right: .75rem;
}

.header-bottom {
    background-color: #754668;
    color: white;
    font-weight: bold;
}



.nav-bar {
    padding: .25rem;
}

.nav-bar ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-bar a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

.nav-bar a:hover{
    color:#e7badb;
    background-color: #75466893;
}


/* main
-------*/

.hero {
    display: flex;
    justify-content: center;
}



/* footer
----------*/

footer{
    color: white;
}

footer a{
    color:white;
}

.footer-top {
   background-color: #754668;
   display: flex;
   justify-content: space-between;
}


.footer-top ul{
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.footer-top li {
    padding: 10px;
}

.footer-top a{
    text-decoration: none;
    color: white;
}



.footer-bottom {
    background-color: #5c3251;
    display: flex;
    justify-content:center;
    width: 100%;
    padding: .75rem;
}

.footer-bottom a{
    margin: 5px 10px 5px 0px;
    text-decoration: none;
    font-size: .75rem;
}

/* ----
esta section de qué es ??? 
--------*/


section {
    display: flex;
    justify-content: center;
}


/* Home ------- */
.main-home {
    background-color: #fff;
    padding: 50px;
}


/* Carrito ------- */
.fa-angle-left,
.fa-angle-right {
    font-size: 100px;
    color: #100b00;
}

.fa-angle-left {
    position: relative;
    right: 1200px;
    top: 250px
}

.fa-angle-right{
    position: relative;
    top: 250px;
    right: 100px;
}

.section-plantas {
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin: 0px 135px
}

.titulo-plantas {
    position: relative;
    left: 300px;
}

.section-macetas {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 0px 345px;
    position: relative;
    bottom: 300px
}

.titulo-macetas {
    position: relative;
    left: 250px;
    top: 10px
}
.titulo {
    display: flex;
    position: relative;
    right: 250px;
    font-size: 30px;
}

.register-main {
    background-color: #d9d9d9
}

.main-carrito {
    background-color: #d9d9d9;
    padding: 10px;
}

.titulos-carrito {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}
.titulo-cantidad {
    position: relative;
    left: 780px;
}

.titulo-precio {
    position: relative;
    left: 350px;
}

.titulo-subtotal {
    position: relative;
    right: 110px;
}

.cuadro-carrito {
    border: solid #6d6875 5px;
    margin: 0px 200px;
}

.cuadro-carrito ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.foto-producto {
    position: relative;
    right: 400px;
}

.nombre-producto {
    position: relative;
    right: 360px;
}

.signo-resta {
    position: relative;
    right: 100px
}

.cantidad {
    position: relative;
    right: 95px;
}


.signo-suma {
    position: relative;
    right: 90px;
}

.precio {
    position: relative;
    left: 70px
}

.subtotal { 
    position: relative;
    left: 200px
}

.vaciar-carro {
    position: relative; 
    left: 330px;
}

.subtotal-y-total {
    display: flex;
    list-style: none;
    flex-direction: column;
}

.subtotal-y-total1 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 230px;
    right: 350px;
    font-size: 25px;
}
.subtotal-y-total li {
    margin: 10px 0px;
}

.codigo-postal {
    display: flex;
    flex-direction: column;
}

.medios-de-envio {
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 300px
}

.boton {
    width: 150px;
}



/* color verde #9dc28e*/