<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->
    <%- include("../partials/head.ejs")%>

    <!-- PARTIAL DEL HEADER-->
    <%-include ("../partials/header.ejs") %>
   
<body>
    <H1> Ups! Parece que ocurri칩 un error. Por favor intentalo nuevamente m치s tarde</H1>
    <p>Para regresar a la p치gina hace click <a href="/"> ac치!</a> 
</body>
</html>