<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->
    <%- include("./partials/head.ejs")%>

    <!-- PARTIAL DEL HEADER-->
    <%-include ("./partials/header.ejs") %>
   
<body>
    <div class="contenedor-general sinPermiso">
        <h2 class= "sinPermiso-titulo">¡Ups! la página que estás buscando no existe.</h2>
        <div class= "contenedor-sinPermiso">
            <a href='/'><img class= "sinPermiso-imagen"src= "/images/not-found.jpg"></a>
        </div>
        <br>
    </div>
    <%-include ("partials/footer.ejs") %>
</body>
</html>