<footer>
    <div class="footer-top">
        <div class= footer-top-main>
            <div class= "cont-footer">
                <span class="titulo-footer">CONTACTANOS</span>
                <ul>
                    <li><i class="fas fa-phone"></i> +54 11 *******</li>
                    <li><i class="fab fa-whatsapp"></i> +54 11 *****</li>
                    <li><i class="fas fa-at"></i> contacto@calathea.com.ar</li>
                    <li><i class="fas fa-map-marker-alt"></i> Showroom: Amenábar 4587 2 "D". <br>Sucursal Palermo: Ravignani 5498, Capital Federal</li>
                </ul>
            </div>
            
            <div class="cont-footer">
                <span class="titulo-footer">MEDIOS DE PAGO</span>
                <ul class="medios-de-pago">
                    <li><img width= 50px heigth= 50px src= "images/footer/visa.jpg"></li>
                    <li><img width= 50px heigth= 50px src= "images/footer/mastecard.jpg"></li>
                    <li><img width= 50px heigth= 50px src= "images/footer/mercadopago.jpeg"></li>
                    <!--
                    <li><img width= 50px heigth= 50px src= "images/pagofacil.png"></li>
                    <li><img width= 50px heigth= 50px src= "images/rapipago.jpg"></li>
                    <li><img width= 50px heigth= 50px src= "images/mercadopago.jpeg"></li>-->
                </ul>
            </div>
            <div class="cont-footer">
                <span class="titulo-footer">REDES SOCIALES</span>
                <ul id="footer-rd">
                    <li><i class="fab fa-instagram"> <a href="http://instagram.com" target="_blank"> Calathea</a></i></li>
                    <li><i class="fab fa-facebook"><a href="http://facebook.com" target="_blank"></i> Somos Calathea </a></li>
                </ul>
            </div>

            <div class="cont-footer">
                <form action="" method="POST">
                    <div class="titulo-footer">NEWSLETTER</div>
                    <label for="newsletter" id="newsletter">
                    <input class= "cont-footer-input" type="email" name="newsletter" placeholder="   Recibí novedades!"> 
                </form> 
            </div>

        </div>
    </div>

    <div class="footer-bottom">
            <a href="/">Inicio</a>  
            <a href="/productos">Productos</a>  
            <a href="/quienes-somos">Quiénes Somos</a>  
            <a href="/preguntas-frecuentes">Preguntas Frecuentes</a> 
            <a href="/contacto">Contacto</a>
        </ul>
    </div>

</footer>