<header class="contenedor-general">
    <section class= "header-arriba">
        <section class= "header-top">
            <div class="buscador">
                <form action="" method="POST">
                    <i class="fas fa-search"></i><input type="text" name="search" placeholder="Buscar">
                 </form>
            </div>
            <div class= "header-right">
                <ul>
                    <% if(locals.isLogged) { %> 
                        <img class="imagen-avatar" src="/images/user-images/<%=locals.userLogged.image %> " alt=""><li>¡Hola, <%=locals.userLogged.first_name %>!</a></li>
                            <ul>
                                <a href="/usuario/perfil"><li><em>Mi perfil</em></li></a>
                                <a href="/productos/carrito"><li><i class="fas fa-shopping-cart"></i><em>Mi carrito</em></li></a>
                                <% if (locals.userLogged.id_category == 1){ %>
                                    <a href="/usuario/administracion"><li><em>Administración</em></li></a>
                                <% } %>
                                <a href="/usuario/logout"><li><em>Cerrar Sesion</em></li></a>
                            </ul>
                    <% } else { %> 
                        <li><a href="/usuario/iniciar-sesion"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                        <li><a href="/usuario//registrarse"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                    <% } %> 
                   
                </ul>
                      
            </div>
        </section>
        <div class= "logo">
            <img width=150px heigth=150px src="/images/logo/logo-cursiva.png" alt="Calathea-logo">
        </div>

        <!-- icono del nav mobile-->
        <div class="icon-miniNav">
            <i class="fas fa-bars"></i>
        </div>
     
        <!-- nav mobile-->
        <div class="miniHeader">
            <nav class="mini-nav">
                    <ul >
                        <li><a href="/">Inicio</a></li>
                        <br>
                        <li><a href="/productos">Productos</a></li>
                        <br>
                        <li><a href="/quienes-somos">Quiénes Somos</a></li>
                        <br>
                        <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                        <br>
                        <li><a href="/contacto">Contacto</a></li>
                    </ul>
            </nav>
        </div>
    
    </section>
    <script>
        let miniNav = document.querySelector(".mini-nav")
        
        let iconMiniNav = document.querySelector(".icon-miniNav")
       
        iconMiniNav.addEventListener("click", function(){
            miniNav.classList.toggle("showNav")
            
            
        })

    </script>

    <div class="header-bottom">
        <div class="nav-bar">
            <nav class="nav-bar">
                    <ul class="nav">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/productos">Productos</a></li>
                        <li><a href="/quienes-somos">Quiénes Somos</a></li>
                        <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                    </ul>
            </nav>
        </div>
    </div> 

</header>

