<header class="contenedor-general">
    <section class= "header-arriba">
        <section class= "header-top">
            <div class="buscador">
                <form action="" method="POST">
                    <i class="fas fa-search"></i><input type="text" name="search" placeholder="Buscar">
                 </form>
            </div>
            <div class= "header-right">
                <ul>
                    <li><a href="/usuario/iniciar-sesion"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                    <li><a href="/usuario//registrarse"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                    <li><a href="/productos/carrito"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                </ul>
            </div>
        </section>
        <div class= "logo">
<<<<<<< HEAD
            <img width=150px heigth=150px src="/images/logo/logo-cursiva.png" alt="Calathea-logo">
=======
            <img width=150px heigth=150px src="/images/logo-cursiva.png" alt="Calathea-logo">
>>>>>>> 3d81bd9d12de2fee64bc8fe9ed98f09e11c34b9f
        </div>
        <div class= "mini-menu">
            <i class="fas fa-bars"></i>
        </div>
    </section>
    

    <div class="header-bottom">
        <div class="nav-bar">
            <nav class="nav-bar">
                    <ul class="nav">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/productos">Productos</a></li>
                        <li><a href="/quienes-somos">Quiénes Somos</a></li>
                        <li><a href="/preguntas-frecuentes">Preguntas Frecuentes</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                    </ul>
            </nav>
        </div>
    </div> 

</header>

