<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Calathea-vivero-design</title>

  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72a545861a.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/images/logo/favicon-32x32.png">
    <link href="/css/styles.css" rel= "stylesheet">

</head>