<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->
    <%- include("../partials/head.ejs")%>
<body>
    <!-- PARTIAL DEL HEADER-->
    <%-include ("../partials/header.ejs") %>

    <!-- INICIO MAIN  -->
    <div class="contenedor-general">
    <!--MUENU HORIZONTAL-->

    <div class="menu-horizontal"><a href="/" > Inicio /</a> <a href="/">Mi Cuenta /</a> <a href="#"><strong>Registro</strong></a></div>

    
    <!--INICIO DE FORMULARIO-->

    <main class= "Main-fr">
        <section class= "section-fr">

            <form action = "/login" method ="POST" class="form-fr">

                <p class= "formulario-titulo-fr"><strong>Bienvenido aqui podras unirte a la comunidad</strong></p>

            <div class="fomulario-div-fr">
                <label for="name"><strong>NOMBRE</strong></label>
                <input type="text" name="name" id="name" placeholder ="  EJ: Juan Perez" class="formulario-input-fr">
            </div> 
            <div class="fomulario-div-fr">  
                <label for="email"><strong>EMAIL</strong></label>
                <input type="email" name="email" id="email" placeholder ="  Email@email.com" class="formulario-input-fr">
            </div> 
            <div class="fomulario-div-fr">               
                <label for="tel"><strong>TELÉFONO</strong></label>
                <input type="tel" name="tel" id="tel" placeholder="  011-123-4567" class="formulario-input-fr">
            </div> 
            <div class="fomulario-div-fr"> 
                <label for="password"><strong>CONTRASEÑA</strong></label>
                <input type="password" name="password" id="password" class="formulario-input-fr">
            </div>  
            <div class="fomulario-div-fr">  
                <label for="password"><strong>CONFIRMAR CONTRASEÑA</strong></label>
                <input type="password" name="password" id="password" class="formulario-input-fr">
            </div> 

                <button type="submit" class="formulario-boton-fr">CREAR CUENTA</button>
                
               
                <p> Si ya perteneces a nuestra comunidad entonces..<br><a href="/login">Iniciá sesión</a></p>
            
            </form>
        
        </section>
    
    </main>
</div>
    <%-include ("../partials/footer.ejs") %>
    </body>
</html>