<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72a545861a.js" crossorigin="anonymous"></script>
    <link href="css/styles2.css" rel= "stylesheet">

    <title>Contacto - Calathea</title>
</head>
<body>
            <!-- HEADER-->
    <header>
        <div class="header-top">
             <div class="search-box-desktop">
                 <form action="" method="POST">                        
                         <input type="text" name="search" placeholder="Buscar">
                         <i class="fas fa-search"></i> 
                     </form>
             </div>
            
             <div class="menu-icon">
                 <i class="fas fa-bars"></i>
             </div>
             
             <div class="logo">
                 <img width=200px heigth=200px src="images/logo-cursiva.png" alt="Calathea-logo">
             </div>
             
             <div class="header-right">
                 <ul>
                     <li><a href="/login"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                     <li><a href="/register"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                     <li><a href="/productCart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                 </ul>
             </div>
         
         </div>
     
         <div class="header-bottom">
             <div class="search-box">
                 <form action="" method="POST">                        
                         <input type="text" name="search" placeholder="Buscar">
                 </form>
                 <button><i class="fas fa-search"></i>
                 </button>
             </div>
         
             <div class="nav-bar">
                 <nav class="nav-bar">
                         <ul class="nav">
                             <li><a href="/" class="active">Inicio</a></li>
                             <li><a href="/product">Productos</a></li>
                             <li><a href="/quienes-somos">Quiénes Somos</a></li>
                             <li><a href="">Preguntas Frecuentes</a></li>
                             <li><a href="/contacto">Contacto</a></li>
                         </ul>
                 </nav>
             </div>
         </div>      
 </header>
    
 

         <!--MUENU HORIZONTAL-->
<div class="menu-horizontal"><a href="/" > Inicio /</a> <a href="#"><strong>Contacto</strong></a></div>

 <!--INICIO DEL MAIN -->
<main class="main-contactos">
        
       <!--INICIO DEL SECCION MAIN CONTACTOS-->

    <section class="section-izquierdo-contacto">
        <p>
            Especialistas en plantas, diferentes especies en constante rotación y al mejor precio.<br>
            Asesorate con nuestros especialistas y elegí la mejor opción para tu espacio, interior con poca luz? exterior a pleno sol?<br>
            Llena el formulario debajo, solicita tu turno y vení a conocer nuestro showroom!<br>
        </p><br>
        <div class="div-izquierdo-contactos">
            <ul class="div-izquierdo-lista-contactos">
            <li class="div-izquierdo-lista-li-contactos"><span><i class="fas fa-mobile-alt"></i></span><a href="">123456789</a></li>
            <li class="div-izquierdo-lista-li-contactos" ><span></span><i class="far fa-envelope"></i></span><a href="">contacto@calathea.com.ar</a></li>
            <li class="div-izquierdo-lista-li-contactos"><span></span><i class="fab fa-instagram"></i></span><a href="http://instagram.com">Seguinos en Instagram</a></li>
            <li class="div-izquierdo-lista-li-contactos"><span></span><i class="fab fa-facebook"></i></span><a href="http://facebook.com">Seguinos en Facebook</a></li>
        </ul>
        </div>

        <p>
            <i class="fas fa-map-marker-alt"></i>
            Showroom: Gral. Gervasio Artigas 5673, Villa Pueyrredon 
            Lunes a Sábados de 10 a 13 y de 14 a 18 / Sucursal Palermo: A.J. Carranza 2196 Lunes a Sábados de 10 a 19
        </p>

    </section>

    <section class="section-derecha-contacto">
          <form class="formulario-contacto" action="">
            <div class="div-formulario-contacto">
                <label for="name"><strong>NOMBRE</strong></label>
                <input type="text" name="name" id="name" placeholder ="  EJ: Juan Perez" class="formulario-input-contacto">
            </div>
            <div class="div-formulario-contacto">
                <label for="email"><strong>EMAIL</strong></label>
                <input type="email" name="email" id="email" placeholder ="  Email@email.com" class="formulario-input-contacto">
            </div>
            <div class="div-formulario-contacto">
                <label for="phone"><strong>TELEFONO</strong></label>
                <input type="text" name="name" id="name" placeholder ="  EJ: 116-123-4567" class="formulario-input-contacto">
            </div>
            <div class="div-formulario-contacto">
                <label for=""><strong>CONSULTA</strong></label>
                <textarea name="textarea" rows="10" cols="50" class="formulario-input-contacto"></textarea>
            </div>  

            <button type="submit" class="formulario-boton-fr">Enviar Consulta</button>

    </section>
     </main>   
     
     <!--FIN DEL SECCION MAIN CONTACTOS-->
      <!--FIN DEL MAIN -->

        <!--INICIO FOOTER-->

      <footer>
        <div class="footer-top">
            <div class= footer-top-main>
                <div class= "cont-footer">
                    <span class="titulo-footer">CONTACTANOS</span>
                    <ul>
                        <li><i class="fas fa-phone"></i> +54 11 *******</li>
                        <li><i class="fab fa-whatsapp"></i> +54 11 *****</li>
                        <li><i class="fas fa-at"></i> contacto@calathea.com.ar</li>
                        <li><i class="fas fa-map-marker-alt"></i> Showroom: Amenábar 4587 2 "D". <br>Sucursal Palermo: Ravignani 5498, Capital Federal</li>
                    </ul>
                </div>
                
                <div class="cont-footer">
                    <span class="titulo-footer">MEDIOS DE PAGO</span>
                    <ul class="medios-de-pago">
                        <li><img width= 50px heigth= 50px src= "images/visa.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/mastecard.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/american.jpg"></li>
                        <!--
                        <li><img width= 50px heigth= 50px src= "images/pagofacil.png"></li>
                        <li><img width= 50px heigth= 50px src= "images/rapipago.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/mercadopago.jpeg"></li>-->
                    </ul>
                </div>
                <div class="cont-footer">
                    <span class="titulo-footer">REDES SOCIALES</span>
                    <ul id="footer-rd">
                        <li><i class="fab fa-instagram"> <a href="http://instagram.com" target="_blank"> Calathea</a></i></li>
                        <li><i class="fab fa-facebook"><a href="http://facebook.com" target="_blank"></i> Somos Calathea </a></li>
                    </ul>
                </div>
    
                <div class="cont-footer">
                    <form action="" method="POST">
                        <div class="titulo-footer">NEWSLETTER</div>
                        <label for="newsletter" id="newsletter">
                        <input class= "cont-footer-input" type="email" name="newsletter" placeholder="   Recibí novedades!"> 
                    </form> 
                </div>

            </div>
        </div>
    
        <div class="footer-bottom">
                <a href="/">Inicio</a>  
                <a href="">Productos</a>  
                <a href="">Quiénes Somos</a>  
                <a href="">Preguntas Frecuentes</a> 
                <a href="">Contacto</a>
            </ul>
        </div>

    </footer> 
        <!--FIN FOOTER-->
       

</body>
</html>