<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calathea</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72a545861a.js" crossorigin="anonymous"></script>
    <link href="css/styles2.css" rel= "stylesheet">
</head>
<body>
    <header>
        <div class="header-top">
            <div class="search-box">
                <span class= "icon"><i class="fas fa-search"></i></span>
                <input class= "search" type="text" name="search" id= "search" placeholder="Buscar">
            </div>
            
            <div class="logo"><img width= 300px heigth= 300px src="\images\logo-cursiva.png" alt="logo"></div>
            
            <div class="header-right">
            
              <ul>
                  <li class="header-right"><a href="/login"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                  <li class="header-right"><a href="/register"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                  <li class="header-right"><a href="/productCart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
              </ul>
          </div>
        </div>

        <div class="header-bottom">
            <div>
                <nav class="nav-bar">
                    <ul>
                        <li class="nav"><a href="/">Inicio</a></li>
                        <li class="nav"><a href="/product">Productos</a></li>
                        <li class="nav"><a href="">Quiénes Somos</a></li>
                        <li class="nav"><a href="">Preguntas Frecuentes</a></li>
                        <li class="nav"><a href="">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    <main class = "main-carrito">
        <h1 class= "titulo-carrito">Carrito de compras</h1>
        <section class= "cuadro-carrito">
            <div id= "imagen-nombre" class= "item-carrito">
                <img id= "imagen-producto" src= "images/producto.jpeg">
                <h4 id= "imagen-nombre" class= "item-carrito">DÚO NACARADA CHICA + PHILO PERUVIANO</h4>
            </div>
            <div id= "cantidad-carrito" class= "item-carrito">
                <h3>CANTIDAD</h3>
                <span><a href= "">-</a></span>
                <span>1</span>
                <span><a href= "">+</a></span>
            </div>
            <div id= "precio-carrito" class= "item-carrito">
                <h3>PRECIO</h3>
                <h3 class= "importe">$ 1</h3>
            </div>
            <div id= "precio-carrito" class= "item-carrito">
                <h3>SUBTOTAL</h3>
                <h3 class= "importe">$ 1</h3>
            </div>
            <div id= "basura" class= "item-carrito">
                <i class="fas fa-trash"></i>
            </div>
        </section>
        <section class= "medios-de-envio">
            <h2 class= titulo-carrito>Medios de envío</h2>
            <div class= "texto-carrito"><input type= "radio" name= "medio-de-envio" value= "Retiro en el local" checked> Retiro en el local - GRATIS</div>
            <div class= "texto-carrito"><input type= "radio" name= "medio-de-envio" value= "Envío a domicilio"> Envío a domicilio</div>
            <h2 class= titulo-carrito>Calcular envío</h2>
            <input class= "formulario" type= "number" name="codigopostal" placeholder=" Codigo Postal">
            <button id= "boton" type= "submit">Calcular costo</button>
            <div class= "link-codigopostal"><a href="">No sé mi código</a></div>
            <h3 id= "subtotal-total" class= "titulo-carrito">Subtotal: $ 1</h3>
            <h3 id= "subtotal-total" class= "titulo-carrito">Total: $ 1</h3>
        </section>
    </main>


    <footer>
        <div class="footer-top">
            <div class= footer-top-main>
                <div class= "cont-footer">
                    <span class="titulo-footer">CONTACTANOS</span>
                    <ul>
                        <li><i class="fas fa-phone"></i> +54 11 *******</li>
                        <li><i class="fab fa-whatsapp"></i> +54 11 *****</li>
                        <li><i class="fas fa-at"></i> contacto@calathea.com.ar</li>
                        <li><i class="fas fa-map-marker-alt"></i> Showroom: Amenábar 4587 2 "D". <br>Sucursal Palermo: Ravignani 5498, Capital Federal</li>
                    </ul>
                </div>
                
                <div class="cont-footer">
                    <span class="titulo-footer">MEDIOS DE PAGO</span>
                    <ul class="medios-de-pago">
                        <li><img width= 50px heigth= 50px src= "images/visa.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/mastecard.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/american.jpg"></li>
                        <!--
                        <li><img width= 50px heigth= 50px src= "images/pagofacil.png"></li>
                        <li><img width= 50px heigth= 50px src= "images/rapipago.jpg"></li>
                        <li><img width= 50px heigth= 50px src= "images/mercadopago.jpeg"></li>-->
                    </ul>
                </div>
                <div class="cont-footer">
                    <span class="titulo-footer">REDES SOCIALES</span>
                    <ul id="footer-rd">
                        <li><i class="fab fa-instagram"> <a href="http://instagram.com" target="_blank"> Calathea</a></i></li>
                        <li><i class="fab fa-facebook"><a href="http://facebook.com" target="_blank"></i> Somos Calathea </a></li>
                    </ul>
                </div>
    
                <div class="cont-footer">
                    <form action="" method="POST">
                        <div class="titulo-footer">NEWSLETTER</div>
                        <label for="newsletter" id="newsletter">
                        <input class= "formulario" type="email" name="newsletter" placeholder="   Recibí novedades!"> 
                    </form> 
                </div>

            </div>
        </div>
    
        <div class="footer-bottom">
                <a href="">Inicio</a>  
                <a href="">Productos</a>  
                <a href="">Quiénes Somos</a>  
                <a href="">Preguntas Frecuentes</a> 
                <a href="">Contacto</a>
            </ul>
        </div>

    </footer>

    </body>
</html>