<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Calathea</title>

  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72a545861a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="\css\styles2.css">
</head>

<body>
   
    <header>
        <div class="header-top">
             <div class="search-box-desktop">
                 <form action="" method="POST">                        
                         <input type="text" name="search" placeholder="Buscar">
                         <i class="fas fa-search"></i> 
                     </form>
                 
             </div>
            
             <div class="menu-icon">
                 <i class="fas fa-bars"></i>
             </div>
             
             <div class="logo">
                 <img width=200px heigth=200px src="images/logo-cursiva.png" alt="Calathea-logo">
             </div>
             
             <div class="header-right">
                 <ul>
                     <li><a href="/login"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                     <li><a href="/register"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                     <li><a href="/productCart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                 </ul>
             </div>
         
         </div>
     
         <div class="header-bottom">
             <div class="search-box">
                 <form action="" method="POST">                        
                         <input type="text" name="search" placeholder="Buscar">
                 </form>
                 <button><i class="fas fa-search"></i>
                 </button>
             </div>
         
             <div class="nav-bar">
                 <nav class="nav-bar">
                         <ul class="nav">
                             <li><a href="/" class="active">Inicio</a></li>
                             <li><a href="/product">Productos</a></li>
                             <li><a href="/quienes-somos">Quiénes Somos</a></li>
                             <li><a href="">Preguntas Frecuentes</a></li>
                             <li><a href="/contacto">Contacto</a></li>
                         </ul>
                 </nav>
             </div>
         </div>      
 </header>
   

    <div class="menu-horizontal-pd"><a class = "a-pd" href="/" > Inicio /</a><a class = "a-pd" href="/product">Productos /</a> <a class = "a-pd" href="/products">Planta interior /</a> <a class = "a-pd" href="#"><strong>Combo Philodendron Elegans m14 en Premium 18</strong></a></div>

 <main>
    <!-- MAIN PAGINA DE PRODUCTOS DETALLADOS-->

    <div class="Contenedor-general-pd">

        <!--SECCION IZQUIERDA DE LA PAGINA PRINCIPAL-->

            <section class="div-imagen-izquierda-pd">

                 <img src="\images\plantas\interior\pothus - m12.jpg"alt="x">

                        <h1>Philodendron Elegans M14
                            Maceta Premium 18
                            Alto Combo: 40/50cm / Ancho Combo: 20/30 cm
                        </h1>

                         <h1> CUIDADOS Y ESPECIFICACIONES</h1>
                            <p> Cantidad de agua: Media<br>
                                Cantidad de sol: Baja<br>
                                Altura estimada de crecimiento: 80cm<br>
                                Tierra: Sustrato Profesional de Calathea<br>
                                Complemento recomendado: Fertilizante de Follaje Calathea<br>
                                Las fotos publicadas son reales de productos nuestros pero las plantas son seres vivos que van cambiando constantemente, por lo que las mismas son ilustrativas! realiza la compra y te enviamos fotos del mismo producto en stock.
                            </p>
            </section>

        <!--SECCION DERECHA DE LA PAGINA PRINCIPAL-->

    <section class="div-derecha-pd">
        <h1>COMBO PHILODENDRON ELEGANS M14 EN PREMIUM 18</h1>
        <p class="precio-Pd"> $1.472</p>
        <a class = "a-pd" href="#"><strong> 18</strong> cuotas de <strong>$170.83</strong></a><br>
        <a class = "a-pd" href="#">ver medios de pago</a>
        <h4>color:</h4>
        <p class="cubo"></p>
        <p class ="cubo"></p>
        <p class ="cubo"></p>
        
    
        <label>Cantidad</label>
        <select class="selec-pd" name="" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>

        <button type="submit" class="boton-agregar-pd">Agregar a Carrito</button>

        <p>Si ya agregaste este producto podras ir a <a class = "a-pd"href="/productCart">mi carrito</a></p>


    </section>



</main>

<footer>
<div class="footer-top">
    <div class= footer-top-main>
        <div class= "cont-footer">
            <span class="titulo-footer">CONTACTANOS</span>
            <ul>
                <li><i class="fas fa-phone"></i> +54 11 *******</li>
                <li><i class="fab fa-whatsapp"></i> +54 11 *****</li>
                <li><i class="fas fa-at"></i> contacto@calathea.com.ar</li>
                <li><i class="fas fa-map-marker-alt"></i> Showroom: Amenábar 4587 2 "D". <br>Sucursal Palermo: Ravignani 5498, Capital Federal</li>
            </ul>
        </div>
        
        <div class="cont-footer">
            <span class="titulo-footer">MEDIOS DE PAGO</span>
            <ul class="medios-de-pago">
                <li><img width= 50px heigth= 50px src= "images/visa.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/mastecard.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/american.jpg"></li>
                <!--
                <li><img width= 50px heigth= 50px src= "images/pagofacil.png"></li>
                <li><img width= 50px heigth= 50px src= "images/rapipago.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/mercadopago.jpeg"></li>-->
            </ul>
        </div>
        <div class="cont-footer">
            <span class="titulo-footer">REDES SOCIALES</span>
            <ul id="footer-rd">
                <li><i class="fab fa-instagram"> <a href="http://instagram.com" target="_blank"> Calathea</a></i></li>
                <li><i class="fab fa-facebook"><a href="http://facebook.com" target="_blank"></i> Somos Calathea </a></li>
            </ul>
        </div>

        <div class="cont-footer">
            <form action="" method="POST">
                <div class="titulo-footer">NEWSLETTER</div>
                <label for="newsletter" id="newsletter">
                <input class= "cont-footer-input" type="email" name="newsletter" placeholder="   Recibí novedades!"> 
            </form> 
        </div>

    </div>
</div>

<div class="footer-bottom">
        <a href="/">Inicio</a>  
        <a href="//product">Productos</a>  
        <a href="/quienes-somos">Quiénes Somos</a>  
        <a href="">Preguntas Frecuentes</a> 
        <a href="/contacto">Contacto</a>
    </ul>
</div>

</footer>

</body>
</html>
