<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calathea</title>
  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/72a545861a.js" crossorigin="anonymous"></script>
    <link href="css/styles2.css" rel= "stylesheet">

</head>
<body>
    <header>
        <div class="header-top">
            <div class="search-box">
                <span class= "icon"><i class="fas fa-search"></i></span>
                <input class= "search" type="text" name="search" id= "search" placeholder="Buscar">
            </div>
            
            <div class="logo"><img width= 300px heigth= 300px src="images/logo-cursiva.png" alt="logo"></div>
            
            <div class="header-right">
            
              <ul>
                  <li class="header-right"><a href="/login"><i class="fas fa-user"></i> Iniciar sesión</a></li>
                  <li class="header-right"><a href="/register"><i class="fas fa-user-plus"></i> Registrarse</a></li>
                  <li class="header-right"><a href="/productCart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
              </ul>
          </div>
        </div>

        <div class="header-bottom">
            <div>
                <nav class="nav-bar">
                    <ul>
                        <li class="nav"><a href="/">Inicio</a></li>
                        <li class="nav"><a href="/product">Productos</a></li>
                        <li class="nav"><a href="">Quiénes Somos</a></li>
                        <li class="nav"><a href="">Preguntas Frecuentes</a></li>
                        <li class="nav"><a href="">Contacto</a></li>
                    </ul>
                </nav>
            </div>
        </div>

    </header>
    
    <!--MUENU HORIZONTAL-->

    <div class="menu-horizontal"><a href="/" > Inicio /</a> <a href="/">Mi Cuenta /</a> <a href="#"><strong>Registro</strong></a></div>

    
    <!--INICIO DE FORMULARIO-->

    <main class= "Main-fr">
        <section class= "section-fr">

            <form action = "/login" method ="POST" class="form-fr">

                <p class= "formulario-titulo-fr"><strong>Bienvenido aqui podras unirte a la comunidad</strong></p>

            <div class="fomulario-div-fr">
                <label for="name"><strong>NOMBRE</strong></label>
                <input type="text" name="name" id="name" placeholder ="  EJ: Juan Perez" class="formulario-input-fr">
            </div> 
            <div class="fomulario-div-fr">  
                <label for="email"><strong>EMAIL</strong></label>
                <input type="email" name="email" id="email" placeholder ="  Email@email.com" class="formulario-input-fr">
            </div> 
            <div class="fomulario-div-fr">               
                <label for="tel"><strong>TELÉFONO</strong></label>
                <input type="tel" name="tel" id="tel" placeholder="  011-123-4567" class="formulario-input-fr">
            </div> 
            <div class="fomulario-div-fr"> 
                <label for="password"><strong>CONTRASEÑA</strong></label>
                <input type="password" name="password" id="password" class="formulario-input-fr">
            </div>  
            <div class="fomulario-div-fr">  
                <label for="password"><strong>CONFIRMAR CONTRASEÑA</strong></label>
                <input type="password" name="password" id="password" class="formulario-input-fr">
            </div> 

                <button type="submit" class="formulario-boton-fr">CREAR CUENTA</button>
                
               
                <p> Si ya perteneces a nuestra comunidad entonces..<br><a href="/login">Iniciá sesión</a></p>
            
            </form>
        
        </section>
    
    </main>

  <!--FOOTER-->
    
    <footer>
        <div class="footer">

            <ul class ="nav-footer">
                <li><strong>Navegación</strong></li>
                <li><a href="">Inicio</a></li>
                <li><a href="">Productos</a></li>
                <li><a href="">Quiénes Somos</a></li>
                <li><a href="">Preguntas Frecuentes</a></li>
                <li><a href="">Contacto</a></li>
            </ul>
            <ul class= "cont-footer">
                <li><strong>Contactanos</strong></li>
                <li><i class="fas fa-phone"></i> +54 11 *******</li>
                <li><i class="fab fa-whatsapp"></i> +54 11 *****</li>
                <li><i class="fas fa-at"></i> contacto@calathea.com.ar</li>
                <li><i class="fas fa-map-marker-alt"></i> Showroom: Amenábar 4587 2 "D". Sucursal Palermo: Ravignani 5498, Capital Federal</li>
            </ul>
            <ul class="footer-mdp1">
                <li><strong>Medios de pago</strong></li>
            </ul>
            <ul class="footer-mdp">
                <li><img width= 50px heigth= 50px src= "images/visa.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/mastecard.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/american.jpg"></li>
            </ul>
            <ul class="footer-mdp">
                <li><img width= 50px heigth= 50px src= "images/pagofacil.png"></li>
                <li><img width= 50px heigth= 50px src= "images/rapipago.jpg"></li>
                <li><img width= 50px heigth= 50px src= "images/mercadopago.jpeg"></li>
            </ul>
            <ul id="footer-rd">
                <li><strong>REDES SOCIALES</strong></li>
                <li><i class="fab fa-instagram"> @calathea</i></li>
                <li><i class="fab fa-facebook"></i> Somos calathea</li>
                <li></li>
                <li><form action="" method="POST">
                    <label for="newsletter" id="newsletter"><strong>NEWSLETTER</strong>
                    <br>
                    <input type="email" name="newsletter"> 
                </form> </li>
            </ul>
        </div>
    </footer>

    </body>
</html>