<!-- esta pagina es ususarios/ ADMINISTRACIÓN, SOLO PARA LOS UASUARIOS CON CATEGORÍA ADMINISTRADOR -->
<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->
    <%- include("../partials/head.ejs")%>
    
    <body>
    <!-- PARTIAL DEL HEADER-->
    <%-include ("../partials/header.ejs") %>

    <!-- INICIO MAIN  -->
    <div class="contenedor-general sinPermiso">
        <h1 class= "sinPermiso-titulo">¡Ups! no tenés permiso para ingresar a esta sección</h1>
        <div class= "contenedor-sinPermiso">
            <a href='/'><img class= "sinPermiso-imagen"src= "/images/denegado.png"></a>
            <br>
        </div>
    </div>

    <%-include ("../partials/footer.ejs") %>
</body>
</html>