<!-- esta pagina es ususarios/ ADMINISTRACIÓN, SOLO PARA LOS UASUARIOS CON CATEGORÍA ADMINISTRADOR -->
<!DOCTYPE html>
<html lang="en">
    <!-- PARTIAL DEL HEAD-->
    <%- include("../partials/head.ejs")%>
    
    <body>
    <!-- PARTIAL DEL HEADER-->
    <%-include ("../partials/header.ejs") %>

    <!-- INICIO MAIN  -->
    <div class="contenedor-general sinPermiso">
        <h1 class= "sinPermiso-titulo">¡Ups! Lo siento, usted no tiene permiso para ingresar a esta sección.</h1>
        <div class= "contenedor-sinPermiso">
            <img class= "sinPermiso-imagen"src= "/images/logo/sinPermiso2.png">
        </div>
        <div class= "contenedor-Boton">
            <a href="/"><button class= "botonPermiso">¡Hacé click para volver al inicio!</button></a>
        </div>

    </div>

    <%-include ("../partials/footer.ejs") %>
</body>
</html>